<TASK>
Select one outcome inside the supplied feasible envelope and restricted effect schema.
</TASK>

<SCENE_SNAPSHOT authority="trusted">
{{ scene_snapshot }}
</SCENE_SNAPSHOT>

<ACCEPTED_ATTEMPTS_AND_REACTIONS authority="trusted">
{{ accepted_attempts }}
</ACCEPTED_ATTEMPTS_AND_REACTIONS>

<DETERMINISTIC_RESULTS authority="trusted">
{{ deterministic_results }}
</DETERMINISTIC_RESULTS>

<FEASIBLE_OUTCOME_ENVELOPE authority="trusted">
{{ feasible_outcome_envelope }}
</FEASIBLE_OUTCOME_ENVELOPE>

<ALLOWED_EFFECT_COMMANDS authority="trusted">
{{ allowed_effect_commands }}
</ALLOWED_EFFECT_COMMANDS>

<STORED_RANDOM_VALUES authority="trusted">
{{ random_values }}
</STORED_RANDOM_VALUES>

<OBSERVATION_CANDIDATES authority="trusted">
{{ observation_candidates }}
</OBSERVATION_CANDIDATES>

<IMPACT_CLASS authority="trusted">
{{ impact_class }}
</IMPACT_CLASS>
