<TASK>
Render the committed scene without adding or changing facts.
</TASK>

<COMMITTED_FACTS authority="canonical">
{{ committed_facts }}
</COMMITTED_FACTS>

<ACCEPTED_DIALOGUE authority="canonical">
{{ accepted_dialogue }}
</ACCEPTED_DIALOGUE>

<PERSPECTIVE authority="trusted">
{{ perspective }}
</PERSPECTIVE>

<VOICE_GUIDES authority="trusted">
{{ voice_guides }}
</VOICE_GUIDES>

<FORBIDDEN_ASSERTIONS authority="trusted">
{{ forbidden_assertions }}
</FORBIDDEN_ASSERTIONS>

<MAXIMUM_WORDS authority="trusted">
{{ maximum_words }}
</MAXIMUM_WORDS>
