<TASK>
Propose at most one bounded reaction from the reactor's sealed perspective.
</TASK>

<REACTOR_IDENTITY authority="trusted">
{{ reactor_identity }}
</REACTOR_IDENTITY>

<PERCEIVED_ATTEMPT authority="trusted">
{{ perceived_attempt }}
</PERCEIVED_ATTEMPT>

<CURRENT_SCENE_STATE authority="trusted">
{{ scene_state }}
</CURRENT_SCENE_STATE>

<CAPABILITIES_AND_RESOURCES authority="trusted">
{{ capabilities }}
</CAPABILITIES_AND_RESOURCES>

<PREPARED_ACTIONS authority="trusted">
{{ prepared_actions }}
</PREPARED_ACTIONS>

<RELATIONSHIP_AND_EMOTION_CONTEXT authority="trusted">
{{ relationship_context }}
</RELATIONSHIP_AND_EMOTION_CONTEXT>

<REMAINING_BEAT_BUDGET authority="trusted">
{{ remaining_beat_budget }}
</REMAINING_BEAT_BUDGET>

<ALLOWED_IDS authority="trusted">
{{ allowed_ids }}
</ALLOWED_IDS>
