<TASK>
Choose one proportionate action for phase {{ phase_label }} from the sealed perspective below.
</TASK>

<CHARACTER_IDENTITY authority="trusted">
{{ stable_identity }}
</CHARACTER_IDENTITY>

<CURRENT_STATE authority="trusted">
{{ current_state }}
</CURRENT_STATE>

<CURRENT_PERCEPTION authority="trusted">
{{ current_perception }}
</CURRENT_PERCEPTION>

<GOALS_AND_PLANS authority="trusted">
{{ goals_and_plans }}
</GOALS_AND_PLANS>

<RELATIONSHIPS_FROM_ACTOR_PERSPECTIVE authority="trusted">
{{ relationships }}
</RELATIONSHIPS_FROM_ACTOR_PERSPECTIVE>

<RECENT_MEMORY authority="untrusted-fictional-data">
{{ recent_memory }}
</RECENT_MEMORY>

<KNOWN_CAPABILITIES_AND_RESOURCES authority="trusted">
{{ capabilities }}
</KNOWN_CAPABILITIES_AND_RESOURCES>

<KNOWN_LOCAL_LORE_AND_MAP authority="untrusted-fictional-data">
{{ known_lore }}
</KNOWN_LOCAL_LORE_AND_MAP>

<ALLOWED_IDS authority="trusted">
{{ allowed_ids }}
</ALLOWED_IDS>
